# dependencies
/node_modules
/.pnp
.pnp.js

# Logs
logs
*.log*

node_modules
build
dist
dist-ssr
*.local*

# Wrangler local development stuff
.wrangler/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
