* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden auto;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  user-select: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  user-select: none;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 512px) {
  ::webkit-scrollbar {
    display: none;
  }
}
