* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden auto;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  user-select: none;
}

button,
input,
select,
textarea {
  appearance: none;
  border-radius: 8px;
  border: 2px solid transparent;
  outline-color: transparent;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  transition:
    border-color 150ms ease-in-out,
    outline-offset 150ms ease-in-out;
  user-select: none;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media only screen and (max-width: 512px) {
  ::webkit-scrollbar {
    display: none;
  }
}
